<h3>Here you will find the information about the kids.</h3>
<h3>Modify it if needed.</h3>
<div class="form-container">
    <form method="post" ng-repeat="pupil in vm.pupil">

        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="pupil.firstname" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" ng-model="pupil.lastname" required />
        </div>

        <div class="form-group">
            <label for="homeaddress">Home address</label>
            <input type="text" id="homeaddress" class="form-control" ng-model="pupil.homeaddress" required />
        </div>

        <div class="form-group" style="display: none">
            <label for="pupil_id">Pupil id</label>
            <input type="text" id="pupil_id" class="form-control" ng-model="pupil._id" required disabled />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser($index)">Save</button>
        </div>
    </form>
</div>