<h3>Here you will find the information about the kids.</h3>
<h3>Modify it if needed.</h3>
<div class="form-container">
    <form method="post" ng-repeat="pupil in vm.pupil">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="pupil_id">Pupil id</label>
                    <input type="text" id="pupil_id" class="form-control" ng-model="pupil.pupil_id" disabled />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="address_from">Home address</label>
                    <input type="text" id="address_from" class="form-control" ng-model="pupil.address_from" required />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="school_name">School name</label>
                    <input type="text" id="school_name" class="form-control" ng-model="pupil.school_name" disabled />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="pupil_class">Pupil's class</label>
                    <input type="text" id="pupil_class" class="form-control" ng-model="pupil.pupil_class" disabled />
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser($index)">Save</button>
        </div>
    </form>
</div>